@{
    ViewData["Title"] = "Index";
}

<h2>Upload a PDF</h2>

<form method="post" enctype="multipart/form-data" asp-action="Upload">
    <input type="file" name="pdf" />
    <hr />
    <input class="btn btn-primary" type="submit" value="Send" />
</form>